<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<h2 th:text="'List of Vets'">Vets List</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="vet" type="com.uhsnarp.sfgpetclinic.model.Vet"*/-->
    <tr th:each="vet:${vets}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.firstName}">Harry</td>
        <td th:text="${vet.lastName}">Potter</td>
    </tr>
    </tbody>
</table>
</body>
</html>